.cartItem.description{
    width: 100%;
    font-size: 30px;
}
.countHandler input{
    width: 40px;
    text-align: center;
    font-weight: bolder;
}
.checkout button{
    width: 150px;
    height: 50px;
}